@import "tailwindcss";
* {
  direction: rtl;
}

@font-face {
  font-family: "Allura-Regular";
  src: url("/fonts/Allura-Regular.ttf") format("woff2"),
    url("/fonts/Allura-Regular.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/IRANSans-Edit.ttf") format("woff2"),
    url("/fonts/IranNastaliq_0.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/IRANSansBold-Edit.ttf") format("woff2"),
    url("/fonts/IRANSansBold-Edit.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baskervville";
  src: url("/fonts/Baskervville-VariableFont_wght.ttf") format("woff2"),
    url("/fonts/Baskervville-Italic-VariableFont_wght.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: #f5f5f5b1;
  font-family: 'Vazir', sans-serif;

}
